/* Universal Rules */
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  box-sizing: border-box;
}
.flex {
  display: flex;
}
img {
  height: 100%;
  width: auto;
  display: block;
}
.background_grey {
  background-color: lightgrey;
}
.left {
  width: 60%;
}
.right {
  width: 40%;
}
h1 {
  font-size: 3.5rem;
  margin: 1rem 0;
  font-weight: bold;
}
h2 {
  font-size: 2rem;
  margin: 2rem 0;
  font-weight: lighter;
}

/* Main Content */

/* Container that holds all site content not in the header */

.main {
  position: relative;
  padding-top: 4rem;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

/* Header */

header {
  height: 4rem;
  width: 100%;
  border-bottom: 1px solid grey;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
}

/* Logo */

#logo {
  font-size: 1.5rem;
  height: 2rem;
  align-items: center;
  margin-left: 1.5rem;
}

/* Nav bar */

nav.mobile {
  display: none;
}
nav.desktop {
  margin-right: 1.5rem;
}
ul li {
  font-size: 1.5rem;
  /* Using inline-block allows the line-height to affect
     the li elements. This gives them a larger bordrer. */
  display: inline-block;
  line-height: 4rem;
}
ul li.border {
  border-right: 1rem solid aqua;
}

/* Start Here */

#start_here {
  align-items: center;
}
#banner-main {
  padding: 2rem 1.5rem;
}
#banner-main-img {
  width: 100%;
}
#banner-main-img img {
  display: block;
  height: 100%;
  width: 100%;
}
#start_here_text {
  text-align: left;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1.5rem;
  font-size: 1.75rem;
}
#start_here_content {
  flex-direction: column;
}

/* Start here button */
#start_here_text p {
  text-align: center;
  background-color: grey;
  color: white;
  padding: 0.5rem;
}

/* Orientation */

#orientation_left_side, #orientation_right_content {
  padding: 2rem 1.5rem;
  flex-direction: column;
}
#orientation_left_side {
  padding-right: 3rem;
}
#orientation_right_content {
  padding-right: 0;
}
#orientation_left_content {
  flex-direction: column;
}
#info-main img {
  width: 100%;
  height: 100%;
  display: block;
}
#orientation_right_content {
  border-left: 1px solid lightgrey;
}

.orientation-image {
  width: 35%;
  height: auto;
  display: block;
  padding: 1rem;
}
.orientation-image img {
  width: 100%;
  display: block;
  height: auto;
}
.orientation-text {
  width: 65%;
  flex-direction: column;
  padding: 1rem 0 1rem 1rem;
}
.no-top-padding {
  padding-top: 0;
}
.orientation_child {
  border-bottom: 1px solid grey;
}

/* Start Learning */
#start_learning {
  background-color: lightgrey;
  flex-direction: column;
}
#gallery {
  flex-flow: row wrap;
  justify-content: center;
  margin: 2rem 4.5rem;
}
.gallery_content {
  flex-direction: column;
  margin: .5rem;
}
.heading {
  margin: auto;
}
.gallery_text {
  background-color: white;
}

/* Thesis Exhibit */

video {
  width: 100%;
  height: auto;
}
#thesis, #thesis_left_content {
  flex-direction: column;
}
#thesis_content {
  flex-direction: row;
}
#thesis_left_side, #thesis_right_content {
  padding: 2rem 1.5rem;
  flex-direction: column;
}

/* Footer */

footer {
  height: 4rem;
  width: 100%;
  border-top: 1px solid grey;
}
#footer_content {
  background-color: lightblue;
  padding: 1rem;
  justify-content: space-between;
}
